.box{
    height: 300px;
    width: 300px;
    background-color: blueviolet;
    animation-name: fontAnimation;
    animation-name: colorAnimation;
    animation-name: widthAnimate;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    transition-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation:colourAnimate 3s ease-in-out 0.5s 3 normal;
}
@keyframes fontAnimation{
    from{
        font-size:20px;
    }
    to{
        font-size:50px;
    }
}
@keyframes colorAnimation{
    from{
        background-color:green
    }
    to{
        background-color: blue;
    }
}
@keyframes widthAnimate{
    from{
        width:10px;
        background-color: green;
    }
    to{
        width:600px;
        background-color: red;
        border-radius:50%;
    }
}
@keyframes colourAnimate{
    0%{
        background-color:green;
    }
    50%{
        background-color: blue;
    }
    100%{
        background-color: red;;
    }
}