h1{
    background-color: chartreuse;
    border:2px solid black;
}
/* @media(width:400px){
    h1{
        background-color:red;
        color:white;
    }
    div{
        height: 100px;
        width:100px;
        background-color: blue;
    }
} */
@media(min-width:400px){
    h1{
        background-color: pink;
    }
}
@media(max-width:400px){

    h1{
        background-color: coral;
    }
}@media(min-width:400px) and (max-width:700px){
    h1{
        background-color: magenta;
    }
}
@media(orientation: landscape){
    h1{
        background-color: cadetblue;
        font-family: 'Courier New', Courier, monospace;
        font-size: larger;
    }
}