 #container{
    background-color: white;
    height:400px;
    width:400px;
    border: 2px solid rgb(9, 186, 235);
    border-radius: 15px;
    display:flex;
    padding-top: 20px;
    flex-wrap: wrap;
    margin: 50px;
    justify-content: center;
    justify-content: space-evenly;

}
.box{
    height:100px;
    width:100px;
    border: 2px solid black;
    border-radius:15px;
    text-align: center;
    font-size: 170%;
    background-color:rgba(0,0,0,0.3);
    font-weight: bold;


} 
#navbar{
    height: 50px;
    width:900px;
    background-color: rgb(225, 171, 180);
    display: flex;
    border:2px solid rgb(0, 157, 255);
    border-radius: 15px;
    justify-content: flex-start;
    align-content: center;

}
.item{

    height: 50px;
    width: 80px;
    font-size: 24px;
    margin-left: 5px;
    line-height: 50px;
    border-radius:10px;
}