h3{
    color:black;
    text-align:center;
}
h1{
    text-align:center;
    text-decoration:  underline;
}
p{
    text-align: center;
    color:red;
    line-height: 30px;
}
a{
    color:rgb(0,255,0);
    text-decoration: none;
}
button{
    background-color: white;
    color:blueviolet;
}
textarea{
    color:#000;
}